<!doctype html>
{% load static %}
<img src="{% static 'newsapp/handshake.png' %}" alt="Ryu and Cyclops shaking hands." style="vertical-align:middle;margin:0px 50px"> 

<html lang="en">
<head>
    <meta charset="utf-8">
    <title>
        {% block title %}
        {% endblock %}
    </title>
    <style>
        table, th, td {
          border: 1px solid;
          table-layout: fixed;
          width: 100%;
        }  
    </style>
</head>
<body>
    <h1>Welcome to DealFlow</h1>
    {% block content_deal %}
    {% endblock %}
    {% block content_company %}
    {% endblock %}
    {% block content_investor %}
    {% endblock %}
    
</body>
</html>