{% extends 'newsapp/base.html' %}

{% block title %}DealFlow{% endblock %}

{% block content_news_clip %}
    <h2>News Clips</h2>
        <ul>
        {% for newsclip in newsclips %}
            <li><a href="{{newsclip.link}}">{{ newsclip.headline }}</a> - {{ newsclip.author }}: {{ newsclip.publisher }}</li>
        {% endfor %}
        </ul>
{% endblock %}

{% block content_deal %}
    <h2>Deals</h2>
    <a href="new_deal"><button onclick="newdeal.html">add a new deal!</button></a>
    <ul>
        {% for deal in deals %}
            <table>
                <th>Company</th>
                <th>Investor</th>
                <th>Funding Round</th>
                <th>Year</th>
                <tr>
                    <td>{% for company in deal.company.all %}
                        {{ company.name }}
                        {% endfor %} </td>
                    <td>{{ deal.investor.name }}</td>
                    <td>{{ deal.funding_round }}</td>
                    <td>{{ deal.year }}</td>
                    <td>{{ deal.quarter }}</td>
                </tr>
            </table>
        {% endfor %}
    </ul>
{% endblock %}

{% block content_company %}
<h2>Companies</h2>
<a href="new_co"><button onclick="new_co.html">add a new company!</button></a>
<ul>
{% for company in companies %}
    <table>
        <th>Name</th>
        <th>Last Funded</th>
        <th>Vertical</th>
        <th>HQ</th>
        <tr>
            <td>{{ company.name }}</td>
            <td>{{ company.last_funding_quarter }}</td>
            <td>{{ company.industry }}</td>
            <td>{{ company.location }}</td>
        </tr>
    </table>
{% endfor %}
</ul>
{% endblock %}

{% block content_investor %}
<h2>Investors</h2>
<a href="new_inv"><button onclick="new_inv.html">add a new investor!</button></a>
<ul>
{% for investor in investors %}
    <table>
        <th>Name</th>
        <th>Twitter</th>
        <tr>
            <td>{{ investor.name }}</td>
            <td>{{ investor.twitter_handle }}</td>
        </tr>
    </table>
{% endfor %}
{% endblock %}